.c-article {
  display: inline-block;
  width: calc((100% / 3) - 15px);
  background: #000000;
  margin-right: 20px;
  text-decoration: none;

  @media screen and (max-width: 1024px) {
    max-width: 600px;
    width: 100%;
    margin-bottom: 20px;
  }

  &:nth-child(3n) {
    margin-right: 0;
  }

  img {
    position: relative;
    width: 100%;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    min-height: 200px;
    object-fit: cover;
  }

  h2 {
    position: relative;
    top: -1px;
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }

  &:hover {
    img {
      opacity: 0.7;
    }
  }
}
