@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

html {
  -webkit-font-smoothing: antialiased;
}

body {
  background: #1d1d1f;
  color: #fff;
  font-family: 'Muli', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  min-height: 100vh;

  a {
    color: #fff;
    &:hover {
      text-decoration: underline;
    }
  }
}

.page {
  display: block;
  max-width: 1220px;
  padding: 0 40px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  @media screen and (max-width: 1024px) {
    padding: 0 20px;
  }
}
